﻿@{
    Layout = "_ColumnsOneForHome";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        <!-- BEGIN Slider -->
        <div id="BannerSlider" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#BannerSlider" data-slide-to="0" class="active"></li>
                <li data-target="#BannerSlider" data-slide-to="1"></li>
                <li data-target="#BannerSlider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="mask flex-center">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-7 col-12 order-md-1 order-2">
                                    <div class="carousel_caption">
                                        <h1>Appearance</h1>
                                        <h2>Your choice has been approved</h2>
                                        <p>It is a long established fact that a reader will be happy</p>
                                        <a href="/cart">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1">
                                <img src="~/Themes/RothLayout/Content/images/banner/i-watch.png" class="mx-auto" alt="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-7 col-12 order-md-1 order-2">
                                    <div class="carousel_caption">
                                        <h1>Design</h1>
                                        <h2>Pixel Event on Digital Design</h2>
                                        <p>It is a long established fact that a reader will be happy</p>
                                        <a href="/cart">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1">
                                <img src="~/Themes/RothLayout/Content/images/banner/speaker.png" class="mx-auto" alt="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-7 col-12 order-md-1 order-2">
                                    <div class="carousel_caption">
                                        <h1>Clearance</h1>
                                        <h2>Giver a timeless classic a home</h2>
                                        <p>It is a long established fact that a reader will be happy</p>
                                        <a href="/cart">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1">
                                <img src="~/Themes/RothLayout/Content/images/banner/drone.png" class="mx-auto" alt="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#BannerSlider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#BannerSlider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- End Slider -->

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")

        <!-- Begin Featured Product Section -->
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
        @await Component.InvokeAsync("HomepageProducts")


        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync("HomepageBestSellers")




        <!-- Testimal section -->
        <div class="container">
            <div class="col-lg-12 text-center " id="featured-p hid-on-media">
                <div class="line-star"></div>

                <img src="~/Themes/RothLayout/Content/images/gold_stars_five_golden_rating_isolated.jpg" class="img-fluid" />
                <p>
                    "5 Stars, You made shopping so simple, Product came as described delivery was super-fast and your
                    customer service was
                    excellent. Thanks, guys!"<br />
                    <strong>Paul.W</strong>
                </p>
                <div class="line-star"></div>
            </div>
        </div>
        <!-- End Testimal section -->
        <!-- Begin Shop By Categories Section -->
        <div class="container">
            <div class="text-center" id="featured-p">
                <h2>SHOP BY CATEGORY</h2>
                <label style="border: 2px solid #880b8d; width: 50px"></label>
                <p>
                    Our featured products are so beautiful to see that the shoppers are easily <br /> attracted to them
                </p>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="shop-grid">
                        <div class="shop-image">
                            <a href="#">
                                <img class="pic-1" src="~/Themes/RothLayout/Content/images/shop/shop-cat-img-1.jpg">
                                <span class="shop-label-cate">New Collection<br><strong>STREETSTYLE</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="shop-grid">
                        <div class="shop-image">
                            <a href="#">
                                <img class="pic-1" src="~/Themes/RothLayout/Content/images/shop/shop-cat-img-2.jpg">
                                <span class="shop-label-cate">New Collection<br><strong>STREETSTYLE</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="shop-grid">
                        <div class="shop-image">
                            <a href="#">
                                <img class="pic-1" src="~/Themes/RothLayout/Content/images/shop/shop-cat-img-3.jpg">
                                <span class="shop-label-cate">New Collection<br><strong>STREETSTYLE</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="shop-grid">
                        <div class="shop-image">
                            <a href="#">
                                <img class="pic-1" src="~/Themes/RothLayout/Content/images/shop/shop-cat-img-4.jpg">
                                <span class="shop-label-cate">New Collection<br><strong>STREETSTYLE</strong></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="space10 hid-on-media"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="shop-grid">
                        <div class="shop-image">
                            <a href="#">
                                <img class="pic-1" src="~/Themes/RothLayout/Content/images/shop/shop-cat-img-1.jpg">
                                <span class="shop-label-cate">New Collection<br><strong>STREETSTYLE</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="shop-grid">
                        <div class="shop-image">
                            <a href="#">
                                <img class="pic-1" src="~/Themes/RothLayout/Content/images/shop/shop-cat-img-2.jpg">
                                <span class="shop-label-cate">New Collection<br><strong>STREETSTYLE</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="shop-grid">
                        <div class="shop-image">
                            <a href="#">
                                <img class="pic-1" src="~/Themes/RothLayout/Content/images/shop/shop-cat-img-3.jpg">
                                <span class="shop-label-cate">New Collection<br><strong>STREETSTYLE</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="shop-grid">
                        <div class="shop-image">
                            <a href="#">
                                <img class="pic-1" src="~/Themes/RothLayout/Content/images/shop/shop-cat-img-4.jpg">
                                <span class="shop-label-cate">New Collection<br><strong>STREETSTYLE</strong></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })
            @await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
            @await Component.InvokeAsync("HomepageCategories")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
            @await Component.InvokeAsync("HomepageProducts")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
            @await Component.InvokeAsync("HomepageBestSellers")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
            @await Component.InvokeAsync("HomepageNews")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
            @await Component.InvokeAsync("HomepagePolls")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })*@
    </div>
</div>
