﻿@model CatalogPagingFilteringModel

<div class="shop-top-bar product-selectors">
    @*view mode*@
    @if (Model.AllowProductViewModeChanging)
    {
        <div class="shop-bar-inner">
            <div class="product-view-mode product-viewmode">
                @*<span>@T("Catalog.ViewMode")</span>*@
                @if (Model.AvailableViewModes.Count > 1)
                {
                    var gridMode = Model.AvailableViewModes[0];
                    var listMode = Model.AvailableViewModes[1];
                    <ul class="nav shop-item-filter-list" role="tablist">
                        <li>
                            <a class="viewmode-icon grid @if(gridMode.Selected){<text>active</text>}" href="@gridMode.Value" title="@gridMode.Text">
                                <i class="fa fa-th"></i>
                                @*@gridMode.Text*@
                            </a>

                            @*<a class="viewmode-icon list @if (listMode.Selected){<text>active</text>}" href="@listMode.Value" title="@listMode.Text">
                                <i class="fa fa-list"></i>
                                @listMode.Text
                            </a>*@
                        </li>

                    </ul>
                }
            </div>
        </div>
    }
    @*sorting*@
    @if (Model.AllowProductSorting)
    {
        <div class="product-short product-sorting">
            <span>@T("Catalog.OrderBy")</span>
            @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { @class = "nice-select", onchange = "setLocation(this.value);", aria_label = T("Catalog.OrderBy.Label") })
        </div>
    }
    @*page size*@
    @*@if (Model.AllowCustomersToSelectPageSize)
    {
        <div class="product-short product-page-size">
            <span>@T("Catalog.PageSize")</span>
            @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { @class = "nice-select", onchange = "setLocation(this.value);", aria_label = T("Catalog.PageSize.Label") })
            <span>@T("Catalog.PageSize.PerPage")</span>
        </div>
    }*@
</div>
<div class="space20"></div>