﻿@model List<ExternalAuthenticationMethodModel>
@if (Model.Any())
{
    <div class="sidebar-title title">
        <h2>
            @T("Account.AssociatedExternalAuth.Or")
        </h2>
    </div>
}
@foreach (var authenticationMethod in Model)
{
    @await Component.InvokeAsync(authenticationMethod.ViewComponentName)
}