﻿@model BlogPostTagListModel
@if (Model.Tags.Count > 0)
{
    <div class="space10"></div>
    <div class="block block-popular-blogtags sidebar-categores-box mt-sm-30 mt-xs-30">
        <div class="title sidebar-title">
            <h2>@T("Blog.TagCloud")</h2>
        </div>
        <div class="listbox category-sub-menu">
            <ul class="tags">
                @foreach (var item in Model.Tags)
                {
                    <li><a href="@Url.RouteUrl("BlogByTag", new { tag = item.Name })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}