﻿@model ProductDetailsModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/magnific-popup/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/lib/magnific-popup/magnific-popup.css");
}

<div class="col-lg-6 col-md-6  d-sm-none d-none d-md-none d-lg-block">

    <div class="product-details-left sp-tab-style-left-page gallery">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforePictures, additionalData = Model })
        <div class="product-details-images slider-navigation-1 picture">
            @if (Model.DefaultPictureZoomEnabled && Model.PictureModels.Count == 1)
            {
                <div class="lg-image">
                    <a class="popup-img venobox vbox-item test" href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-lightbox-anchor-@Model.Id" data-gall="myGallery">
                        <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
                    </a>
                </div>
                <script asp-location="Footer">
                    $(document).ready(function() {
                        $('#main-product-img-lightbox-anchor-@Model.Id').magnificPopup({ type: 'image' });
                    });
                </script>
            }
            else
            {
                @foreach (var picture in Model.PictureModels)
                {
                    <div class="lg-image">
                        <a class="popup-img venobox vbox-item test" href="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-gall="myGallery">
                            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
                        </a>
                    </div>
                }
            }
        </div>
        @*@if (Model.PictureModels.Count > 1 && Model.DefaultPictureZoomEnabled)
            {*@
        @if (Model.DefaultPictureZoomEnabled)
        {
            <div class="tab-style-left picture-thumbs">
                @foreach (var picture in Model.PictureModels)
                {
                    <a class="sm-image thumb-item" href="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title">
                        <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                    </a>
                }
            </div>
            <script asp-location="Footer">
                $(document).ready(function() {
                    $('.picture-thumbs').magnificPopup(
                        {
                            type: 'image',
                            delegate: 'a',
                            removalDelay: 300,
                            gallery: {
                                enabled: true,
                                navigateByImgClick: true,
                                preload: [0, 1],
                                tPrev: '@T("Media.MagnificPopup.Previous")',
                                tNext: '@T("Media.MagnificPopup.Next")',
                                tCounter: '@T("Media.MagnificPopup.Counter")'
                            },
                            tClose: '@T("Media.MagnificPopup.Close")',
                            tLoading: '@T("Media.MagnificPopup.Loading")'
                        });
                });
            </script>
            <script asp-location="Footer">
                $(document).ready(function() {
                    $('.thumb-item > img').on('click',
                        function() {
                            $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
                            $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                            $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                            $('#main-product-img-lightbox-anchor-@Model.Id').attr('href', $(this).attr('data-fullsize'));
                            $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                        });
                });
            </script>
        }
        else
        {
            //if (Model.PictureModels.Count > 1)
            //{
            <div class="tab-style-left picture-thumbs">
                @foreach (var picture in Model.PictureModels)
                {
                    <div class="sm-image thumb-item">
                        <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                    </div>
                }
            </div>
                <script asp-location="Footer">
                    $(document).ready(function() {
                        $('.thumb-item img').on('click',
                            function() {
                                $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
                                $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                                $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                                $('#main-product-img-lightbox-anchor-@Model.Id')
                                    .attr('href', $(this).attr('data-fullsize'));
                                $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                            });
                    });
                </script>
            //}
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterPictures, additionalData = Model })
    </div>
</div>
