﻿@model ProductDetailsModel
@if (Model.EmailAFriendEnabled)
{
    <div class="email-a-friend">
        <a class="btn btn-danger mb-10 button-2 email-a-friend-button" onclick="setLocation('@Url.RouteUrl("ProductEmailAFriend", new { productId = Model.Id })')">
            @T("Products.EmailAFriend")
        </a>
    </div>
}
