﻿@model IList<ProductOverviewModel>
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
    //page class
    Html.AppendPageCssClassParts("html-recently-viewed-products-page");
}
<div class="page recently-viewed-products-page">
    <div class="page-title">
        <h1>@T("Products.RecentlyViewedProducts")</h1>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <div class="product-grid">
                <div class="row item-grid">
                    @foreach (var product in Model)
                    {
                        <div class="col-md-3 col-sm-6">
                            <div class="item-box">
                                @await Html.PartialAsync("_ProductBox", product)
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
