.space20 {
  height: 20px;
}

.product-details-view-content .product-info h2 {
  font-size: 30px;
  letter-spacing: -.025em;
  line-height: 24px;
  color: #4d4d4d;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.price-box {
  color: #666;
  font-weight: 900;
  font-size: 14px;
  line-height: 27px;
  padding: 10px 0px 20px;
}

.new-price.product-price {
  color: #e80f0f;
  font-size: 40px;
  line-height: 40px;
}

  .new-price.product-price > * {
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
  }

.quantity {
  margin-bottom: 20px;
}

.product-additional-info {
  padding-top: 20px;
}

.add-to-cart {
  border: none;
  font-size: 30px;
  color: #fff;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  padding: 9px 79px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  height: 60px;
  background: linear-gradient(0deg, rgb(4, 89, 148) 0%, rgba(13,113,186,1) 100%);
  box-shadow: 0px 0px 3px 1px #a4a4a4a1;
  border: 1px solid #dee2e6c2;
  max-width: 315px !important;
  line-height: 19px;
}

  .add-to-cart:hover {
    background: #242424;
    color: #ffffff;
    border-radius: 5px;
    background: linear-gradient(to bottom, #880b8d 24%, #66005f 102%);
  }

.wishlist-btn i {
  padding-right: 10px;
}

.rating {
  color: #FFD200;
  font-size: 12px;
  padding-top: 10px;
}

.tab-content .tab-pane.active {
  height: auto;
  opacity: 1;
  padding: 25px;
}
/* Product Description */
.nav-tabs {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 11px;
  padding-top: 11px;
  font-family: 'lato';
  font-size: 16px;
  font-weight: 700;
}

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
    border-radius: 2px
  }

  .nav-tabs > li > a {
    border: none;
    color: #4d4d4d;
    background: #e2e2e2;
    padding: 15px;
    border-radius: 2px;
  }

    .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
      border: none;
      color: #fff !important;
      background: #4d4d4d;
      padding: 15px;
    }

    .nav-tabs > li > a::after {
      content: "";
      background: #e2e2e2;
      height: 2px;
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: -1px;
      transition: all 250ms ease 0s;
      transform: scale(0);
    }

.tab-content {
  padding: 0px
}

.nav-tabs > li {
  text-align: center;
  padding: 1px;
}

.card {
  background: #FFF none repeat scroll 0% 0%;
  margin-top: 40px;
}


@media all and (max-width:724px) {
  .nav-tabs > li > a > span {
    display: none;
  }

  .nav-tabs > li > a {
    width: 100%;
  }
}
