@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }

  .roth-topbar-cart {
    display: inline-block;
    top: -11px;
    padding-right: 32px;
    height: 45px;
  }

  .hm-searchbox {
    width: 90%;
  }

  .shop-grid .shop-image img {
    width: 100%;
    height: auto;
    padding: 10px 0px;
  }
}

/* Normal Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
  /*Header Middle*/
  .header-middle {
    padding: 30px 0;
  }

  .hm-searchbox {
    width: 100%;
  }
  /*Category Menu*/
  .catmenu .catmenu-dropdown .megamenu > li {
    min-width: 238.2px;
  }
  /*Footer Static Middle*/
  .social-link > li > a {
    width: 35px;
    height: 35px;
    line-height: 35px !important;
  }
  /*Footer Shipping Area*/
  .shipping-text p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .shop-grid .shop-image img {
    width: 100%;
    height: auto;
    padding: 8px 0px;
  }

  .bg-nav {
    background-color: #880b8d !important;
    margin-top: 16px;
    padding-top: 12px;
  }

  .space50 {
    height: 10px;
  }
}
/* Normal Device :1024. */
@media (min-width: 768px) and (max-width: 1024px) {
  /*Header Middle*/
  .header-middle {
    padding: 30px 0;
    border: 0px solid;
  }

  .header-middle {
    padding: 25px 3px 7px 0px;
  }

  .logo {
    display: none;
  }

  .col-lg-7 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .bg-nav {
    background-color: #880b8d !important;
    margin-top: 14px
  }

  .navbar-light .navbar-brand {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
  }

  .shop-grid .shop-image img {
    width: 100%;
    height: auto;
    padding: 8px 0px;
  }

  .bg-nav {
    background-color: #880b8d !important;
    margin-top: 16px;
    padding-top: 12px;
  }

  .space50 {
    height: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .bg-nav {
    background-color: #880b8d !important;
    margin-top: 14px
  }

  .navbar-light .navbar-brand {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
  }

  .shop-grid .shop-image img {
    width: 100%;
    height: auto;
    padding: 8px 0px;
  }

  .bg-nav {
    background-color: #880b8d !important;
    margin-top: 16px;
    padding-top: 12px;
  }

  #featured-p {
    margin-top: 50px
  }
}

@media only screen and (max-width: 667px) {
  .bg-nav {
    background-color: #880b8d !important;
    margin-top: 14px
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar-nav .nav-link {
    line-height: 10px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
  }

  .navbar-light .navbar-brand {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
  }

  .shop-grid .shop-image img {
    width: 100%;
    height: auto;
    padding: 8px 0px;
  }

  .bg-nav {
    background-color: #880b8d !important;
    margin-top: 16px;
    padding-top: 12px;
  }

  #featured-p {
    margin: 0px
  }
}

@media (min-width: 414px) {

  .hid-on-media {
    display: none;
  }

  .shop-grid .shop-image img {
    width: 100%;
    height: auto;
    padding: 10px 0px;
  }

  .carousel-item a {
    font-size: 14px;
    padding: 3px 10px;
    font-weight: 500;
    font-size: 14px;
  }

  .hm-searchbox {
    width: 100%;
  }

  .align-items-center {
    padding-bottom: 60px;
    text-align: center;
  }

  .header-middle {
    padding: 25px 3px 7px 0px;
  }

  .shop-grid .shop-image img {
    width: 100%;
    height: auto;
    padding: 8px 0px;
  }

  .bg-nav {
    background-color: #880b8d !important;
    margin-top: 16px;
    padding-top: 12px;
  }

  #featured-p {
    margin: 0px
  }

  .product-info h2 {
    line-height: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .card {
    border: 0px;
  }

    .card .nav-tabs {
      font-size: 14px;
      padding-bottom: 0px;
      border: 0px;
    }

    .card .tab-content .tab-pane.active {
      height: auto;
      opacity: 1;
      padding: 26px 5px 0px 2px;
    }

  .col-lg-7 {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 7px;
  }

  .col-lg-5 {
    margin-top: 0px;
  }

    .col-lg-5 .hm-searchbox {
      width: 96%;
    }

  .col-md-6 .add-to-cart {
    font-size: 25px;
    padding: 0px 0px 0px 10px;
    width: 100%;
  }

  .col-md-6 .btn-danger {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
  }

  ul.ht-menu li {
    border-right: 1px solid #f8f9fa3d;
    margin-top: -20px;
  }

  .shop-grid .shop-image img {
    width: 100%;
    height: auto;
    padding: 8px 0px;
  }

  .ht-menu > li {
    list-style: none;
    padding: 1px 6px;
    position: relative;
    display: flex;
    align-items: center;
    align-self: stretch;
  }

  .header-middle {
    padding: 25px 3px 7px 0px;
  }

  .logo {
    display: none;
  }

  .product-info h2 {
    line-height: 30px;
  }

  .align-items-center {
    padding-bottom: 60px;
    text-align: center;
  }

  .bg-nav {
    background-color: #880b8d !important;
    margin-top: 16px;
    padding-top: 12px;
  }

  h2 {
    line-height: 30px
  }

  .row .align-text {
    text-align: left
  }

  .ul-shopping-cart {
    height: 20px;
  }

  .shopping-border {
    margin-top: 10px;
  }

  .span-cover-all {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    padding: 10px 0px 30px 0px;
    text-transform: uppercase;
    text-align: left;
  }

  .li-product-quantity .quantity {
    margin-bottom: 0px;
  }

  .product-img-small {
    width: 50px;
    height: 50px;
  }

  .table-content table td.li-product-name {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 10px 0;
  }

  .table-content table td.li-product-price {
    font-size: 14px;
    font-weight: 400;
  }

  .table-content table td.product-subtotal {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
  }

  span.item-title {
    padding-left: 4px;
  }

  .cart-box {
    width: 30px;
    height: 30px;
  }

  .space40 {
    display: none
  }

  .sidebar-title {
    margin-top: 20px;
  }
}
