/* Veasna: CSS Document */
/********************* roth's product featured grid **********************/
.breadcrumb {
  padding: 10px;
  background: #f9f9f9;
}

.item-box {
  font-family: 'Lato',sans-serif;
  text-align: center;
  padding: 0 0 72px;
  border: 0px solid rgba(0,0,0,.1);
  overflow: hidden;
  position: relative;
  z-index: 1
}

  .item-box .product-image {
    position: relative;
    transition: all .3s ease 0s
  }

    .item-box .product-image a {
      display: block
    }

    .item-box .product-image img {
      width: 100%;
      height: auto
    }

  .item-box .pic-1 {
    opacity: 1;
    transition: all .3s ease-out 0s
  }

  .item-box:hover .pic-1 {
    opacity: 1
  }

  .item-box .pic-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-out 0s
  }

  .item-box:hover .pic-2 {
    opacity: 1
  }

  .item-box .social {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all .3s ease 0s
  }

  .item-box:hover .social {
    opacity: 1;
    top: 50%
  }

  .item-box .social li {
    display: inline-block
  }

    .item-box .social li a {
      color: #fff;
      background-color: #880b8d;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      height: 40px;
      width: 40px;
      margin: 0 2px;
      display: block;
      position: relative;
      transition: all .3s ease-in-out
    }

      .item-box .social li a:hover {
        color: #fff;
        background-color: rgb(4, 89, 148)
      }

      .item-box .social li a:after, .item-box .social li a:before {
        content: attr(data-tip);
        color: #fff;
        background-color: rgb(4, 89, 148);
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 20px;
        padding: 1px 5px;
        white-space: nowrap;
        opacity: 0;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        top: -30px
      }

      .item-box .social li a:after {
        content: '';
        height: 15px;
        width: 15px;
        border-radius: 0;
        transform: translateX(-50%) rotate(45deg);
        top: -20px;
        z-index: -1
      }

      .item-box .social li a:hover:after, .item-box .social li a:hover:before {
        opacity: 1
      }

  .item-box .product-discount-label, .item-box .product-new-label {
    color: #fff;
    background-color: #880b8d;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0
  }

  .item-box .product-discount-label {
    background-color: #4d4d4d;
    left: auto;
    right: 0
  }

  .item-box .rating {
    /*color: #FFD200;
    font-size: 12px;
    padding: 12px 0 0;
    margin: 0;
    list-style: none;*/
    position: relative;
    /*z-index: -1*/
  }

/*.item-box .rating li.disable {
      color: rgba(0,0,0,.2)
    }*/

  .item-box .product-content {
    background-color: #fff;
    text-align: center;
    padding: 12px 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -41px;
    z-index: 1;
    transition: all .3s
  }

  .item-box:hover .product-content {
    bottom: 0
  }

  .item-box .title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
  }

    .item-box .title a {
      color: #828282
    }

      .item-box .title a:hover, .item-box:hover .title a {
        color: #880b8d
      }

  .item-box .price {
    color: #4d4d4d;
    font-size: 17px;
    font-family: lato,sans-serif;
    font-weight: 700;
    letter-spacing: .6px;
    margin-bottom: 20px;
    text-align: center;
    transition: all .3s
  }

    .item-box .price span {
      color: #999;
      font-size: 13px;
      font-weight: 400;
      text-decoration: line-through;
      margin-left: 3px;
      display: inline-block
    }

  .item-box .add-to-cart {
    color: #ffffff !important;
    font-family: 'lato';
    font-size: 13px;
    font-weight: 600;
  }

a.add-to-cart {
  background: linear-gradient(0deg, rgb(4, 89, 148) 0%, rgba(13,113,186,1) 100%);
  border: 0px solid #e1e1e1;
  transition: all 0.3s ease-in-out;
  padding: 9px 15px 8px 15px;
  border-radius: 5px;
}

  a.add-to-cart:hover {
    color: #fff !important;
    background: linear-gradient(to bottom, #880b8d 24%, #66005f 102%);
    border: 0px solid #e1e1e1;
    transition: all 0.3s ease-in-out;
    padding: 9px 15px 8px 15px;
    border-radius: 5px;
  }
/* Veasna: CSS Document */
/********************* roth's shop by categories grid **********************/
.shop-label-cate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-family: Lato;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  background-color: #f8f9faa8;
  color: #4d4d4d
}

  .shop-label-cate strong {
    font-size: 16px;
    font-family: Lato;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #880b8d
  }

.shop-grid {
  font-family: 'Lato',sans-serif;
  text-align: center;
  border: 0px solid rgba(0,0,0,.1);
  overflow: hidden;
  position: relative;
  z-index: 1
}

  .shop-grid .shop-image {
    position: relative;
    transition: all .3s ease 0s
  }

    .shop-grid .shop-image:hover {
      transform: scale(1.3);
    }

    .shop-grid .shop-image a {
      display: block
    }

    .shop-grid .shop-image img {
      width: 100%;
      height: auto;
    }

  .shop-grid .pic-1 {
    opacity: 1;
    transition: all .3s ease-out 0s
  }

  .shop-grid:hover .pic-1 {
    opacity: 1
  }

  .shop-grid .pic-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-out 0s
  }

  .shop-grid:hover .pic-2 {
    opacity: 1
  }

  .shop-grid .social {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all .3s ease 0s
  }

  .shop-grid:hover .social {
    opacity: 1;
    top: 50%
  }

  .shop-grid .social li {
    display: inline-block
  }

    .shop-grid .social li a {
      color: #fff;
      background-color: #880b8d;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      height: 40px;
      width: 40px;
      margin: 0 2px;
      display: block;
      position: relative;
      transition: all .3s ease-in-out
    }

      .shop-grid .social li a:hover {
        color: #fff;
        background-color: rgb(4, 89, 148)
      }

      .shop-grid .social li a:after, .item-box .social li a:before {
        content: attr(data-tip);
        color: #fff;
        background-color: rgb(4, 89, 148);
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 20px;
        padding: 1px 5px;
        white-space: nowrap;
        opacity: 0;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        top: -30px
      }

      .shop-grid .social li a:after {
        content: '';
        height: 15px;
        width: 15px;
        border-radius: 0;
        transform: translateX(-50%) rotate(45deg);
        top: -20px;
        z-index: -1
      }

      .shop-grid .social li a:hover:after, .item-box .social li a:hover:before {
        opacity: 1
      }

  .shop-grid .shop-discount-label, .item-box .product-new-label {
    color: #fff;
    background-color: #880b8d;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0
  }

  .shop-grid .shop-discount-label {
    background-color: #4d4d4d;
    left: auto;
    right: 0
  }

  .shop-grid .rating {
    color: #FFD200;
    font-size: 12px;
    padding: 12px 0 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: -1
  }

    .shop-grid .rating li.disable {
      color: rgba(0,0,0,.2)
    }

  .shop-grid .shop-content {
    background-color: #fff;
    text-align: center;
    padding: 12px 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -41px;
    z-index: 1;
    transition: all .3s
  }

  .shop-grid:hover .shop-content {
    bottom: 0
  }

  .shop-grid .title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
  }

    .shop-grid .title a {
      color: #828282
    }

      .shop-grid .title a:hover, .item-box:hover .title a {
        color: #880b8d
      }

  .shop-grid .price {
    color: #4d4d4d;
    font-size: 17px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: .6px;
    margin-bottom: 20px;
    text-align: center;
    transition: all .3s
  }

    .shop-grid .price span {
      color: #999;
      font-size: 13px;
      font-weight: 400;
      text-decoration: line-through;
      margin-left: 3px;
      display: inline-block
    }

  .shop-grid .add-to-cart {
    color: #ffffff;
    font-family: 'lato';
    font-size: 13px;
    font-weight: 600;
  }

a.add-to-cart {
  background: linear-gradient(0deg, rgb(4, 89, 148) 0%, rgba(13,113,186,1) 100%);
  border: 0px solid #e1e1e1;
  transition: all 0.3s ease-in-out;
  padding: 9px 15px 8px 15px;
  border-radius: 5px;
}

@media only screen and (max-width:990px) {
  .item-box {
    margin-bottom: 30px
  }
}
