.category-sub-menu ul li ul {
    display: none;
    margin-top: 10px;
  }
  .category-sub-menu ul li {
      padding-top: 5px;
      transition: all 0.3s ease-in-out;
  }
  .category-sub-menu ul li:hover a {
      color: #880b8d;
  }
  .category-sub-menu ul li:first-child {

  }
  .category-sub-menu li.has-sub > a {
    color: #242424;
    cursor: pointer;
    display: block;
    line-height: 20px;
    position: relative;
  }
  .category-sub-menu li.has-sub li a {
      border: 0 none;
      display: block;
      font-size: 14px;
      padding: 0 10px;
      color: #333;
  }
  .category-sub-menu li.has-sub li a:hover {
      color: #880b8d;
  }
  .category-sub-menu li.has-sub > a::after {
      color: #242424;
      content: "\f067";
      font-family: fontawesome;
      font-size: 16px;
      position: absolute;
      right: 5px;
  }
  .category-sub-menu li.has-sub.open > a::after {
      content: "\f068";
  }