﻿    <!-- Begin Header Top Area -->
<div class="header-top">
    <div class="container">
        <div class="row">
            <!-- Begin Header Top Left Area -->
            <div class="col-lg-3 col-md-4">
                <div class="header-top-left">
                    <ul class="so-icon-wrap socialMediaLinks">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-pinterest"></a></li>
                    </ul>
                </div>
            </div>
            <!-- Header Top Left Area End Here -->
            <!-- Begin Header Top Right Area -->
            <div class="col-lg-9 col-md-8">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="header-top-right">
                            <ul class="ht-menu">
                                <!-- Begin Setting Area -->
                                <li>
                                    <a href="/about-us">About Us</a>
                                </li>
                                <!-- Setting Area End Here -->
                                <!-- Begin Currency Area -->
                                <li>
                                    <a href="/wishlist">Wishlist</a>
                                </li>
                                <!-- Currency Area End Here -->
                                <!-- Begin Language Area -->
                                <li>
                                    <a href="/contactus">Contact Us</a>
                                </li>
                                <!-- Language Area End Here -->
                                <li>
                                    <a href="/login">Login</a>
                                    @*<a href="#" data-toggle="modal" data-target="#modalLRForm">Login</a>*@
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 d-sm-none d-none d-md-none d-lg-block">
                        <div class="roth-topbar-cart">
                            <div class="check-out-cart">
                                <span class="item-icon"></span>
                                <span>My cart</span>
                                <span class="item-text">
                                    (2 Items)
                                </span>
                                <a href="/onepagecheckout" class="btn-checkout">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top Right Area End Here -->
        </div>
    </div>
</div>
<!-- End Header Top Area -->
<!-- Begin mobile menu section-->
<div class="container d-lg-none d-xl-none col-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-nav">
        <a class="navbar-brand" href="/">
            <img src="~/Themes/RothLayout/Content/images/rothlogo-white.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product-category.html">Necklace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product-category.html">Rings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product-category.html">Jewelry</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="product-category.html">Promotion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product-category.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-danger text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Register</a>
                </li>
            </ul>
        </div>

        <!-- The Modal -->

    </nav>
</div>
<!-- End menu section-->
<!-- Begin Header Center Section -->
<div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
    <div class="container">
        <div class="row">
            <!-- Begin Header Logo Area -->
            <div class="col-lg-2">
                <div class="logo pb-sm-30 pb-xs-30">
                    <a href="/">
                        <img src="~/Themes/RothLayout/Content/images/header/rothlogo.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <!-- Header Logo Area End Here -->
            <!-- Begin Header Middle Right Area -->
            <div class="col-lg-10 pl-0 ml-sm-15 ml-xs-15 ">
                <div class="row">
                    <div class="col-lg-5 col-ms-12">
                        <!-- Begin Header Middle Searchbox Area -->
                        <div class="search-box store-search-box">
                            @await Component.InvokeAsync("SearchBox")
                        </div>
                        <!-- Header Middle Searchbox Area End Here -->
                    </div>
                    <div class="col-lg-7  col-ms-12">
                        <div class="row">
                            <div class="col-lg-7">
                                <img src="~/Themes/RothLayout/Content/images/header/deliver.jpg" class="img-fluid">
                                <!-- Header Middle Right Area End Here -->
                            </div>
                            <div class="col-lg-5 d-sm-none d-none d-md-none d-lg-block">
                                <!-- Begin Header Middle Right Area -->
                                <div class="header-middle-right">
                                    <img src="~/Themes/RothLayout/Content/images/header/fbmessage.png" class="img-fluid">
                                </div>
                                <!-- Header Middle Right Area End Here -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Header Middle Right Area End Here -->
        </div>
    </div>
</div>
<!-- End Header Center Section -->
@*<div class="header">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
        <div class="header-upper">
            <div class="header-selectors-wrapper">
                @await Component.InvokeAsync("TaxTypeSelector")
                @await Component.InvokeAsync("CurrencySelector")
                @await Component.InvokeAsync("LanguageSelector")
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
            </div>
            <div class="header-links-wrapper">
                @await Component.InvokeAsync("HeaderLinks")
                @await Component.InvokeAsync("FlyoutShoppingCart")
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
        <div class="header-lower">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="search-box store-search-box">
                @await Component.InvokeAsync("SearchBox")
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
    </div>*@
