/*----------------------------------------*/
/*  27.2019 - Sna's CSS
/*----------------------------------------*/
@import url('Lato/stylesheet.css');
a {
  text-decoration: none;
  font-family: 'Lato', serif;
}
a:hover {
  text-decoration: none;
}
p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #898989;
  margin-bottom: 15px;
}
/*----------------------------------------*/
/*  Header: Social Media CSS
/*----------------------------------------*/
.socialMediaLinks a { 
	font-size: 26px;
	 margin: 0px 0px 0 0;
	 color: #000000;
	 text-decoration: none;
	 padding: 5px;
	 box-sizing: border-box;
	 width: 23px;
	 text-align: center;
	 border-radius: 50%;
 }
 ul.so-icon-wrap  li{
	 padding-left: none !important;
 }
 
 .socialMediaLinks a.fa-twitter { 
	 color: #ffffff;
	 background-color: #73baff;
 }
 .socialMediaLinks a.fa-facebook { 
	 color: #fff;
	 background-color: #4875ef; 
 }
 .socialMediaLinks a.fa-pinterest { 
	 color: #ffffff;
	 background-color: #c51651;
 }
 .socialMediaLinks a.fa-instagram { 
	 color: #ffff;
	 background-color: #833AB4; 
 }
 .socialMediaLinks a.fa-google-plus { 
	 color: #ffffff;
     background-color: #841736;
 }
/*----------------------------------------*/
/*  Header: Top Header Menu Right
/*----------------------------------------*/
.ht-menu {
	display: flex;
	justify-content: flex-end;
	-webkit-display: flex;
	-moz-display: flex;
	-ms--display: flex;
}
.ht-menu > li {
	list-style: none;
    padding: 1px 11px;
    position: relative;
    display: flex;
    align-items: center;
    align-self: stretch;
}
.ht-menu > li::after {
	content: "";
	position: absolute;
	background: #2424;
	height: 15px;
	width: 1px;
	right: 0;
	top: 5px;
}
.ht-menu > li:last-child::after {
	content: unset;
}
.ht-menu > li:last-child {
	padding-right: 0;
}
.ht-menu > li span {
	font-size: 12px;
	color: #fff;
}

/*----------------------------------------*/
/*  Header: Middle Header CSS
/*----------------------------------------*/
.mh-search {
    display: flex;
        position: relative;
        background: #fff;
        border-radius: 5px;
        border: 6px solid #e1e1e1;
        min-width: 350px;
        height: 56px;
        float: left;
        margin-top: 1px;
        margin-left: 30px;
    }
.mh-search input {
		font-size: 13px;
		color: #a5a5a5;
		height: 45px;
		background: transparent;
		border: none;
		width: 100%;
		padding: 0 60px 0 33px;
}