﻿@model ManufacturerNavigationModel
@if (Model.Manufacturers.Count > 0)
{
    <div class="space10"></div>
    <div class="block block-manufacturer-navigation sidebar-categores-box mt-sm-30 mt-xs-30">
        <div class="title sidebar-title">
            <h2>@T("Manufacturers")</h2>
        </div>
        <div class="listbox category-sub-menu">
            <ul class="list">
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <li class="@(manufacturer.IsActive ? "active" : "inactive")"><a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
                    </li>
                }
            </ul>
            @if (Model.TotalManufacturers > Model.Manufacturers.Count)
            {
                <div class="view-all">
                    <a href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}